#cart-container{
    display: flex;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#cart-logo{
    margin-top: 40px;
    margin-right: 3px;
    color: #fff;
}

#cart-logo:hover{
    cursor: pointer;
}

#cart-number{
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(8, 83, 11);
    border-radius: 50px;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 2.5px;
}